@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>

<script>
    $.ajax({
        url: "https://localhost:44315/api/Employees/TestCors",
        success: function (result){
            console.log(result);
        }
    })
</script>
