@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<table class="table table-striped" id="table_id" >
  <thead class="thead-dark">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details Pokemon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col text-center">
                      <img class="picture" width="200" height="200" style="border-radius:100px; border-block-color:black" />
                  </div>
              </div>
              <div class="row">
                  <div class="col text-center text-black-50">
                      <div class="name display-3 text-uppercase"></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-4">
                      <h4 class="text-center" style="color:white; background-color:black;">Abilities</h4>
                      <div class="abilities1 bg-secondary text-center font-weight-bold"></div>
                      <div class="abilities2 bg-secondary text-center font-weight-bold"></div>
                  </div>
                  <div class="col-8 text-center">
                      <h4 style="color:white; background-color:black;">Types</h4>
                      <div class="type bg-secondary font-weight-bold"></div>
                      <div class="type2 bg-secondary font-weight-bold"></div>
                      <h4 style="color:white; background-color:black;">Height</h4>
                      <div class="height bg-secondary font-weight-bold"></div>
                      <h4 style="color:white; background-color:black;">Weight</h4>
                      <div class="weight bg-secondary font-weight-bold"></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <h4 class="text-center" style="color:white; background-color:black;">Stats</h4>
                      <h6>Health</h6>
                      <div class="progress">
                          <div class="hp progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                              <div class="hppoint"></div>
                          </div>
                      </div>
                      <h6>Attack</h6>
                      <div class="progress">
                          <div class="ap progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                              <div class="appoint"></div>
                          </div>
                      </div>
                      <h6>Defend</h6>
                      <div class="progress">
                          <div class="dp progress-bar bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                              <div class="dppoint"></div>
                          </div>
                      </div>
                      <h6>Speed</h6>
                      <div class="progress">
                          <div class="sp progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                              <div class="sppoint"></div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

