@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

<table class="table tablemasterdata table-bordered">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">NIK</th>
      <th class="text-center">FullName</th>
      <th class="text-center">Gender</th>
      <th class="text-center">Phone</th>
      <th class="text-center">Email</th>
      <th class="text-center">UniversityName</th>
      <th class="text-center">Salary</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody id="table">

  </tbody>
</table>

@*modal insert*@
<div id="insertModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register New Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @*===================== MODAL BODY =============================================*@
      <div class="modal-body" onsubmit="Insert()">
        <form class="needs-validation">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="degree">Degree</label>
              <select class="custom-select" id="degree" required>
                <option selected disabled value="">Degree</option>
                <option value="S1">S1</option>
                <option value="D4">D4</option>
                <option value="D3">D3</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="salary">Salary</label>
              <input type="text" class="form-control" id="salary" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-5 mb-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <label for="gender">Gender</label>
              <select class="custom-select" id="gender" required>
                <option selected disabled value="">Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="birthDate">Birth Date</label>
              <input type="date" class="form-control" id="birthDate" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="gpa">GPA</label>
              <input type="text" class="form-control" id="gpa" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="university">University</label>
              <select class="custom-select" id="university" required>
                <option selected disabled value="">University</option>
                <option value="1">UDINUS</option>
                <option value="2">UNDIP</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" onclick="Insert()" type="submit">Register</button>
        </form>
      </div>
      @*==================================================================================*@
    </div>
  </div>
</div>

@*modal update*@
<div class="modal" id="UpdateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Data Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @*===================== MODAL BODY =============================================*@
      <div class="modal-body" onsubmit="Update()">
        <form class="needs-validation">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="NIKUpdate">NIK</label>
              <input type="text" class="form-control" id="NIKUpdate" readonly>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="FirstNameUpdate">First Name</label>
              <input type="text" class="form-control" id="FirstNameUpdate" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="LastNameUpdate">Last Name</label>
              <input type="text" class="form-control" id="LastNameUpdate" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="PhoneUpdate">Phone Number</label>
              <input type="text" class="form-control" id="PhoneUpdate" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="BirthDateUpdate">Birth Date</label>
              <input type="date" class="form-control" id="BirthDateUpdate" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="SalaryUpdate">Salary</label>
              <input type="text" class="form-control" id="SalaryUpdate" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label for="EmailUpdate">Email</label>
              <input type="text" class="form-control" id="EmailUpdate" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-5 mb-3">
              <label for="GenderUpdate">Gender</label>
              <select class="custom-select" id="GenderUpdate" required>
                <option selected disabled value="">Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>

          <button class="btn btn-primary" onclick="Update()" type="submit">Update</button>
        </form>
      </div>
      @*==================================================================================*@
    </div>
  </div>
</div>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>